@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply w-auto h-auto;
}

img {
  @apply select-none;
}

.posts-container {
  @apply m-0 p-0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  grid-gap: 0.5em;
  list-style: none;
}

.post-card {
  @apply bg-white rounded-lg m-1 p-0 flex flex-row flex-wrap border-solid border-gray-200 border-4;
}

.post-modal {
  @apply bg-white rounded-lg p-0 border-solid border-gray-200 border-4;
}

.menu-avatar {
  @apply bg-white rounded-lg border-solid border-blue-300 border-4 relative;
  width: 56px;
  height: 56px;
  z-index: 30;
}

.menu-avatar:hover {
  @apply border-blue-500 shadow-md cursor-pointer;
}

.menu-dropdown {
  @apply text-base text-gray-700 m-2 antialiased font-light;
}

/* Posts description section */

.round-avatar {
  @apply rounded-full border-solid border-gray-200 border-2 inline-block mr-3 relative;
  width: 44px;
  height: 44px;
}

.round-avatar:hover {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.06);
}

.username-display {
  @apply text-gray-700;
}

.username-display:hover {
  @apply text-gray-600;
}

.description-container {
  @apply flex flex-row flex-wrap items-center;
}

.absolute-piece {
  @apply absolute inset-0 select-none;
}

.block-piece {
  @apply inline-block mx-3 align-middle;
}

@screen sm {
  .posts-container {
    @apply m-10 p-6;
  }
}
